
@import "https://fonts.googleapis.com/css?family=Ubuntu";

body
{
font-family: 'Ubuntu', sans-serif;


.titulo
{
text-align: center;
color: #DD2C00;
}

.contenido
{
  text-align: center;
  color: #000000;
  border-radius: 30px;
  width: 500px;
  margin: 0 auto;
  background-color:#ffffff;
}

#box
{
  border-radius: 5px;
  border: solid #0000005;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: bold;
}

#box2
{
  border-radius: 5px;
  border: solid #0000005;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: bold;
}

#box3
{
  border-radius: 5px;
  border: solid #0000005;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: bold;
}

#boton
{

  border-radius: 100px;
  border: solid #0000005;
  background-color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

#r3
{
  font-size: 25px;
}

.credito
{
  text-align: right;
  font-size: 13px;
  color: #white;
}

